@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Constants */
:root {
  --rf-bg-primary: #ffffff;
  --rf-bg-secondary: #fffbf5;
  --rf-color-primary: #70635c;
  --rf-color-hover: #180f0a;
  --rf-color-accent: #aa5830;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

/* Utilities */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.color-accent {
  color: var(--rf-color-accent);
}

.playfair-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bold {
  font-weight: 500;
}

body {
  background-color: var(--rf-bg-primary);
}

a {
  text-decoration: none;
}

/* Header */
header {
  background-color: rgba(247, 245, 241, 0.7);
  border-bottom: 1px solid rgba(52, 44, 39, 0.1);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(12px);
}

.nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  & > * {
    gap: 2rem;
    align-self: center;
  }

  .site-title {
    font-size: 1.5rem;
    color: var(--rf-color-hover);
  }

  .links {
    display: flex;
    font-size: 0.9rem;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    color: var(--rf-color-primary);
  }

  .links > a {
    &:hover {
      color: var(--rf-color-hover);
      text-decoration: underline;
    }
  }
}

/* Button */
.btn-primary,
.btn-outline {
  text-decoration: none;
  color: var(--rf-color-primary);
  font-size: 0.9rem;
  padding: 1rem 1.6rem;
  border-radius: 0.5rem;
}

.btn-primary {
  background-color: var(--rf-color-accent);
  color: var(--rf-bg-primary);
  &:hover {
    background-color: rgb(from var(--rf-color-accent) calc(r - 20) calc(g - 20) calc(b - 20));
  }
}

.btn-outline {
  border: 1px solid var(--rf-bg-primary);
  color: var(--rf-bg-primary);

  &:hover {
    background-color: rgba(from var(--rf-bg-primary) r g b / 20%);
  }
}

/* Loader */
.loader {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 55, 67, 0.6);
}

/* Jumbotron */
.jumbotron {
  position: relative;
  overflow: hidden;
  height: 100vh;
  border-bottom: 1px solid rgba(52, 44, 39, 0.1);

  .jumbo-image {
    position: absolute;
    width: 100%;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(25, 15, 10, 0.4);
  }

  .container-jumbotron {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
  }

  .jumbo-text {
    position: relative;
    height: 100%;
    max-width: 50%;
    margin-inline-start: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .jumbo-title {
      color: var(--rf-bg-secondary);
      font-size: 4rem;
    }

    .jumbo-subtitle {
      color: var(--rf-bg-secondary);
    }

    .jumbo-buttons {
      display: flex;
      gap: 1rem;
      padding-block: 2rem;
      border-bottom: 1px solid var(--rf-bg-secondary);
    }

    .jumbo-display {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 0.8rem;
      color: var(--rf-bg-primary);
      .jumbo-display-number {
        font-family: "Playfair Display", serif;
        font-size: 2rem;
      }
    }

    & > * {
      margin-block: 0.5rem;
    }
  }
}

/* Featured Section */
.featured {
  margin-block: 2rem;
}

.featured-title {
  font-size: 3rem;
}

.featured-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-block: 2rem;
  gap: 2rem;
}

/* Product Card */
.product-card {
  border: 1px solid var(--rf-color-accent);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  /* border-radius: 10px; */
  text-align: left;
  background-color: var(--rf-bg-secondary);
  font-weight: 300;
  transition-duration: 300ms;
  text-decoration: none;
  color: var(--rf-color-primary);

  .product-image {
    overflow: hidden;
    height: 300px;
    & > img {
      transition-duration: 300ms;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-body {
    padding: 1.5rem;
    .product-body-title {
      font-size: 1.4rem;
      color: var(--rf-color-hover);
    }

    .product-body-subtitle {
      font-size: 0.9rem;

      padding-block: 1rem;
      & > * + * {
        margin-left: 1.2rem;
      }
    }
    .product-body-description {
      font-size: 1rem;
    }
  }
  &:hover {
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  &:hover .product-image img {
    scale: 110%;
  }
}

/* Product list */
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-block: 4rem;
}

/* Footer */
footer {
  background-color: var(--rf-bg-secondary);
  color: var(--rf-color-primary);
  padding: 1rem;
  & > * {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.footer-grid {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  h1 {
    color: var(--rf-color-hover);
  }

  & > * {
    padding: 3rem;
  }

  & > * > * {
    margin-block-end: 0.7rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    h3 {
      color: var(--rf-color-hover);
    }
    a {
      text-decoration: none;
      color: var(--rf-color-primary);
      &:hover {
        color: var(--rf-color-hover);
      }
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  & > * {
    padding: 1rem 0;
  }
}
