@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Constants */
:root {
  --rf-bg-primary: #fffcf5;
  --rf-bg-secondary: #f6ecde;
  --rf-color-primary: #70635c;
  --rf-color-hover: #180f0a;
  --rf-color-accent: #aa5830;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  align-items: center;
}

.icon-flex {
  display: flex;
  align-items: center;

  & > * + * {
    margin-inline-start: 0.2rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.color-accent {
  color: var(--rf-color-accent);
}

.playfair-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bold {
  font-weight: 500;
}

/* Globals */
body {
  background-color: var(--rf-bg-primary);
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* Header */
header {
  background-color: rgba(246, 236, 222, 0.7);
  border-bottom: 1px solid rgba(52, 44, 39, 0.1);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(12px);
}

.nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .site-title {
    font-size: 1.5rem;
    color: var(--rf-color-hover);
  }

  .links {
    display: flex;
    font-size: 0.9rem;
    font-weight: 500;
    align-self: center;
    gap: 2rem;
  }

  a {
    text-decoration: none;
    color: var(--rf-color-primary);
  }

  .links > a {
    &:hover {
      color: var(--rf-color-hover);
      text-decoration: underline;
    }
  }
}

/* Button */
.btn-primary,
.btn-outline,
.btn-more {
  text-decoration: none;
  color: var(--rf-color-primary);
  font-size: 0.8rem;
  padding: 1rem 1.8rem;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--rf-color-accent);
  color: var(--rf-bg-primary);

  &:hover {
    background-color: rgb(from var(--rf-color-accent) calc(r - 20) calc(g - 20) calc(b - 20));
  }
}

.btn-outline {
  border: 1px solid var(--rf-bg-primary);
  color: var(--rf-bg-primary);

  &:hover {
    background-color: rgba(from var(--rf-bg-primary) r g b / 20%);
  }
}

/* Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

/* Jumbotron */
.jumbotron {
  position: relative;
  overflow: hidden;
  height: 100vh;
  border-bottom: 1px solid rgba(52, 44, 39, 0.1);

  .jumbo-image {
    position: absolute;
    width: 100%;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(25, 15, 10, 0.4);
  }

  .container-jumbotron {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
  }

  .jumbo-text {
    position: relative;
    height: 100%;
    max-width: 50%;
    margin-inline-start: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .jumbo-title {
      color: white;
      font-size: 4rem;
    }

    .jumbo-subtitle {
      color: var(--rf-bg-secondary);
    }

    .jumbo-buttons {
      display: flex;
      gap: 1rem;
      padding-block: 2rem;
      border-bottom: 1px solid var(--rf-bg-secondary);
    }

    .jumbo-display {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 0.8rem;
      color: var(--rf-bg-primary);
      .jumbo-display-number {
        font-family: "Playfair Display", serif;
        font-size: 2rem;
      }
    }

    & > * {
      margin-block: 0.5rem;
    }
  }
}

/* Featured Section */
.featured {
  margin-block: 2rem;
}

.featured-title {
  font-size: 3rem;
}

.featured-grid {
  /* display: flex;
  overflow-x: scroll;

  & > * {
    flex-shrink: 0;
  } */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-block: 2rem;
  gap: 2rem;
}

/* Product Card */
.product-card {
  border: 1px solid rgba(52, 44, 39, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  text-align: left;
  background-color: var(--rf-bg-secondary);
  font-weight: 300;
  transition-duration: 300ms;
  text-decoration: none;
  color: var(--rf-color-primary);
  position: relative;

  .product-image {
    z-index: 2;
    overflow: hidden;
    height: 300px;

    & > img {
      transition-duration: 300ms;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-body {
    padding: 1.5rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .product-body-title {
      font-size: 1.4rem;
      color: var(--rf-color-hover);
    }

    .product-body-subtitle {
      font-size: 0.9rem;
      padding-block: 1rem;
      display: flex;

      & > * + * {
        margin-left: 1rem;
      }
    }

    .product-body-description {
      margin-block: 0.5rem;
    }
  }

  .product-body-overlay {
    position: absolute;
    height: 75%;
    bottom: -9rem;
    right: -3rem;
    opacity: 10%;
  }

  .product-mark {
    position: absolute;
    z-index: 3;
    height: 15%;
    top: 0.5rem;
    right: 0.5rem;
  }

  .product-btn-more {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--rf-color-hover);

    & > * + * {
      margin-inline-start: 0.3rem;
    }
  }

  &:hover {
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  &:hover .product-image img {
    scale: 110%;
  }

  &:hover .product-btn-more {
    color: var(--rf-color-accent);
  }

  &:hover .product-btn-more svg {
    transform: translateX(0.3rem);
    transition-duration: 300ms;
  }
}

/* Page title */
.page-title {
  text-align: center;
  margin-block: 2rem;

  & > h1 {
    font-size: 3rem;
  }
}

/* About page */
.about-main {
  max-width: 800px;
  margin: 3rem auto;

  .about-main-text {
    text-align: center;
    margin-block: 2rem;
  }
}

.about-main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 800px;
  margin: 3rem auto;
}

.about-main-card {
  border: 1px solid var(--rf-color-accent);
  padding: 1.5rem;
  background-color: var(--rf-bg-secondary);
  color: var(--rf-color-hover);

  & > * {
    margin-block: 0.5rem;
  }
}

.timeline {
  max-width: 800px;
  margin: 1rem auto;
  padding-inline: 1rem;
  padding-block: 0.4rem;
  border-left: 3px solid var(--rf-color-hover);
}

.timeline-item {
  margin-left: 0.3rem;

  span {
    font-size: 1.2rem;
  }
}

/* Product list */
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-block: 4rem;
}

/* Detail page */
.detail-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-block: 5rem;

  .detail-image-container {
    z-index: 2;
    border: 1px solid rgba(52, 44, 39, 0.1);
    max-height: 800px;
    max-width: 750px;
    aspect-ratio: calc(4 / 3);

    & > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .detail-body-container {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    gap: 1.5rem;

    .detail-title {
      font-size: 3rem;
    }

    .detail-quick-facts {
      display: flex;
      gap: 1.5rem;
      padding: 1rem 0rem 0.9rem 0;
      border-bottom: 1px solid var(--rf-color-primary);
    }

    h3 {
      margin-bottom: 0.5rem;
    }

    .detail-specs-container {
      border: 1px solid rgba(52, 44, 39, 0.1);
    }

    .detail-spec {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--rf-bg-secondary);
      padding: 0.8rem 1.2rem;
    }

    .detail-spec:nth-of-type(2n) {
      background-color: var(--rf-bg-primary);
    }

    .detail-spec-title {
      font-weight: 500;
      color: var(--rf-color-primary);
      font-size: 0.8rem;
    }

    .detail-spec-description {
      font-size: 1rem;
    }

    .detail-btn-back {
      outline: 1px solid var(--rf-color-hover);
      padding: 0.5rem 1.1rem;
      color: var(--rf-color-hover);
      align-self: flex-start;

      &:hover {
        color: var(--rf-color-accent);
        outline: 1px solid var(--rf-color-accent);
        background-color: rgba(from var(--rf-color-accent) r g b / 20%);
      }

      &:hover svg {
        transform: translateX(0.3rem);
        transition-duration: 200ms;
      }
    }
  }
}

/* Footer */
footer {
  background-color: var(--rf-bg-secondary);
  color: var(--rf-color-primary);
  padding: 1rem;

  & > * {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.footer-grid {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  h1 {
    color: var(--rf-color-hover);
  }

  & > * {
    padding: 3rem;
  }

  & > * > * {
    margin-block-end: 0.7rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;

    h3 {
      color: var(--rf-color-hover);
    }

    a {
      text-decoration: none;
      color: var(--rf-color-primary);
      &:hover {
        color: var(--rf-color-hover);
      }
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;

  & > * {
    padding: 1rem 0;
  }
}
